.parent__two__elements
  .item_detail
    a.search(href="#")
        img.search__item(src="/Src/Images/Search.svg", alt=""  , width="" , height="")
    a.buy(href="#")
        img.buy__item(src="/Src/Images/Buy 1.svg", alt=""  , width="" , height="")
        span.buy__item__badge 11


  a(href="consultant-profile.html").btn.btn__group--panel.d-none.d-lg-flex پنل مشاوران
  a(href="signin.html").btn.btn--active.btn__group--login.d-none.d-md-block ورود / ثبت نام
  

    
