
.item_detail
  a.search_box(href="#")
    img(src="/Src/Images/Search.svg", alt=""  , width="" , height="")
  a.search_box(href="#")
    img(src="/Src/Images/Buy 1.svg", alt=""  , width="" , height="")

.btn__group 
  a(href="").btn.btn__group--panel پنل مشاوران
  a(href="").btn.btn__group--login ورود / ثبت نام
  

    
