
<header class="fixed__nav">
  <section class="header">
    <div class="container-fluid">
      <div class="row"> 
        <div class="col-xl-2 flex--r--c column"><a class="img-logo img-fluid" href="/index.html"><img src="/Src/Images/logo_en.png" alt="website logo" width="" height=""/></a></div>
        <div class="col-xl-7 column">
          <nav class="navbar d-none d-lg-block">
            <ul class="parent__menu d_flex"> 
              <li class="link"><a class="parent__menu__item" href="#">صفحه اصلی</a></li>
              <li class="link"><a class="parent__menu__item" href="#">محصولات</a></li>
              <li class="link"><a class="parent__menu__item" href="#">مشتریان</a></li>
              <li class="link"><a class="parent__menu__item" href="#">مشاوران</a></li>
              <li class="link"><a class="parent__menu__item" href="#">سوالات متداول</a></li>
              <li class="link"><a class="parent__menu__item" href="#">مقالات</a></li>
              <li class="link"><a class="parent__menu__item" href="#">درباره ما</a></li>
              <li class="link"><a class="parent__menu__item" href="#">تماس با ما </a></li>
            </ul>
          </nav>
        </div>
        <div class="col-xl-3 flex--r--c column">
          <div class="parent__two__elements">
            <div class="item_detail"><a class="search" href="#"><img class="search__item" src="/Src/Images/Search.svg" alt="" width="" height=""/></a><a class="buy" href="#"><img class="buy__item" src="/Src/Images/Buy 1.svg" alt="" width="" height=""/><span class="buy__item__badge">11</span></a></div>
            <div class="btn__group"> <a class="btn btn__group--panel" href="">پنل مشاوران</a><a class="btn btn--active btn__group--login" href="">ورود / ثبت نام</a></div>
          </div>
        </div>
      </div>
    </div>
  </section>
</header>