
<header class="fixed__nav">
  <section class="header">
    <div class="container-fluid">
      <div class="row"> 
        <div class="col-xl-2 flex--r--c"><a class="img-logo" href="/index.html"><img src="/Src/Images/logo_en.png" alt="website logo" width="" height=""/></a></div>
        <div class="col-xl-7">
          <nav class="navbar d-none d-lg-block">
            <ul class="parent__menu d_flex"> 
              <li>خانه</li>
              <li>محصولات</li>
              <li>مشتریان</li>
              <li>مشاوران</li>
              <li>درباره ما</li>
              <li>تماس با ما </li>
            </ul>
          </nav>
        </div>
        <div class="col-xl-3 flex--r--c">
          <div class="item_detail"><a class="search_box" href="#"><img src="/Src/Images/Search.svg" alt="" width="" height=""/></a><a class="search_box" href="#"><img src="/Src/Images/Buy 1.svg" alt="" width="" height=""/></a></div>
          <div class="btn__group"> <a class="btn btn__group--panel" href="">پنل مشاوران</a><a class="btn btn__group--login" href="">ورود / ثبت نام</a></div>
        </div>
      </div>
    </div>
  </section>
</header>