
<header class="fixed__nav">
  <section class="header">
    <div class="container-fluid">
      <div class="row"> 
        <div class="col-md-2 col-sm-3 col-6 d-lg-none d-md-flex">
          <div class="menu--burger">
            <div class="menu--burger--item"></div>
            <div class="menu--burger--item"></div>
            <div class="menu--burger--item"></div>
          </div>
        </div>
        <div class="col-xl-1 col-lg-1 col-md-6 col-sm-6 col-6 flex--r--c column"><a class="img-logo img-fluid" href="/index.html"><img src="dist/Images/logo_en.png" alt="website logo" width="" height=""/></a></div>
        <div class="col-xl-8 col-md-4 col-3 d-none d-xl-block column flex--r--c">
          <nav class="navbar d-none d-lg-block">
            <ul class="parent__menu d_flex"> 
              <li class="link dropdown"><a class="parent__menu__item" href="#">صفحه اصلی</a></li>
              <li class="link dropdown" id="product-dropdown"><a class="parent__menu__item nav-link dropdown-toggle" id="navbarDropdownMenuLink" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">محصولات</a>
                <div class="dropdown-menu product-dropdown"></div>
              </li>
              <li class="link dropdown"><a class="parent__menu__item" href="#">مشتریان</a></li>
              <li class="link dropdown"><a class="parent__menu__item" href="#">مشاوران</a></li>
              <li class="link dropdown"><a class="parent__menu__item" href="#">سوالات متداول</a></li>
              <li class="link dropdown"><a class="parent__menu__item" href="#">مقالات</a></li>
              <li class="link dropdown"><a class="parent__menu__item" href="#">درباره ما</a></li>
              <li class="link dropdown"><a class="parent__menu__item" href="#">تماس با ما</a></li>
            </ul>
          </nav>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-3 d-none d-sm-flex flex--r--c column">
          <div class="parent__two__elements">
            <div class="item_detail"><a class="search" href="#"><img class="search__item" src="/Src/Images/Search.svg" alt="" width="" height=""/></a><a class="buy" href="#"><img class="buy__item" src="/Src/Images/Buy 1.svg" alt="" width="" height=""/><span class="buy__item__badge">11</span></a></div><a class="btn btn__group--panel d-none d-lg-flex" href="consultant-profile.html">پنل مشاوران</a><a class="btn btn--active btn__group--login d-none d-md-block" href="signin.html">ورود / ثبت نام</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</header>