
<header class="fixed__nav">
  <section class="panel__header"> 
    <div class="container-fluid"> 
      <div class="row"> 
        <div class="col-md-2 col-sm-4 col-6 d-lg-none d-md-flex">
          <div class="menu--burger">
            <div class="menu--burger--item"></div>
            <div class="menu--burger--item"></div>
            <div class="menu--burger--item"></div>
          </div>
        </div>
        <div class="col-xl-2 col-lg-1 col-md-6 col-sm-4 col-6 flex--r--c column"><a class="img--logo img-fluid" href="/index.html"><img src="dist/Images/logo_en.png" alt="website logo" width="" height=""/></a></div>
        <div class="col-xl-6 col-lg-8 col-md-4 col-sm-4 col-3 d-none d-sm-block flex--r--c">
          <div class="input--box--search">
            <input class="input--box--search__box" type="text" name="" placeholder="چیزی در اینجا بنویسید مثلا: خرید..."/><a class="input--box--search__link" href=""><img class="input--box--search__link__icon img-fluid" src="dist/Images/Search.png" alt="search--icon"/></a>
          </div>
        </div>
        <div class="col-xl-4 col-lg-3 d-none d-lg-flex flex--r--c column">
          <div class="profile--accessibility">
            <div class="profile--accessibility--notification"><img class="profile--accessibility--notification__ico" src="dist/Images/Notification.png" alt="user-notification"/></div><a class="profile--accessibility--username" href="../../../user-profile.html"> 
              <p class="profile--accessibility--username__text">علی پزشکیان</p><img class="profile--accessibility--username__ico" src="dist/Images/Down 2.svg" alt=""/></a>
            <div class="profile--accessibility--wrapper"><img class="profile--accessibility--wrapper--avatar" src="dist/Images/avatar.png" alt="avatar"/></div>
          </div>
        </div>
      </div>
    </div>
  </section>
</header>