extends src/Partials/_layout

block headstyle
  link(rel="stylesheet", href="./Src/Styles/swiper-bundle.min.css")
  link(rel="stylesheet", type="text/css", href="/Src/Styles/index/index.css")
  // The initial part of the website
block header
  include src/Partials/header/_header
  // The middle part of the website
block content
    include src/Partials/main_element/_slider
    include src/Partials/main_element/_category
    include src/Partials/main_element/_product
    include src/Partials/main_element/_blog
    
    

block footer
  include src/Partials/footer/_footer

  // Attached links & Script Which must be loaded at the end
block script
  script(src="./Src/Scripts/swiper-bundle.min.js") 
  