
<footer class="wrapper--footer"> 
  <div class="container-fluid"> 
    <div class="row"> 
      <div class="col-xl-3"> 
        <div class="wrapper--footer--info--company"> <a class="wrapper--footer--info--company__link" href="javascript:void(0)">  <img class="wrapper--footer--info--company__img" src="/dist/Images/logo_en.png" alt="company-logo"/></a>
          <p class="wrapper--footer--info--company__discription">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</p>
          <div class="wrapper--footer--info--company--social"> 
            <div class="social"><img src="/dist/Images/Website.png" alt=""/></div>
            <div class="social"><img src="/dist/Images/Instagram.png" alt=""/></div>
            <div class="social"><img src="/dist/Images/Instagram.png" alt=""/></div>
            <div class="social"><img src="/dist/Images/TV.png" alt=""/></div>
          </div>
        </div>
      </div>
      <div class="col-xl-3"> </div>
      <div class="col-xl-3"> </div>
      <div class="col-xl-3"> </div>
    </div>
  </div>
</footer>