footer.wrapper--footer 
     .container-fluid 
          .row 
               .col-xl-3 
                    .wrapper--footer--info--company 
                         a.wrapper--footer--info--company__link(href="javascript:void(0)")   
                              img.wrapper--footer--info--company__img(src="/dist/Images/logo_en.png", alt="company-logo")
                         p.wrapper--footer--info--company__discription لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.

                         .wrapper--footer--info--company--social 
                              each img in ['/dist/Images/Website.png' , '/dist/Images/Instagram.png' , '/dist/Images/Instagram.png' , '/dist/Images/TV.png']
                               .social
                                   img(src=img, alt="")
                         
               .col-xl-3 
               .col-xl-3 
               .col-xl-3 

