
<footer class="wrapper--footer"> 
  <div class="container-fluid"> 
    <div class="row"> 
      <!-- Detail & Info-Company-->
      <div class="col-xl-3 col-lg-6 col-md-4 col-sm-3 col-12"> 
        <div class="wrapper--footer--info--company"> <a class="wrapper--footer--info--company__link" href="javascript:void(0)">  <img class="wrapper--footer--info--company__img" src="dist/Images/logo_en.png" alt="company-logo"/></a>
          <p class="wrapper--footer--info--company__discription">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.راحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</p>
          <div class="wrapper--footer--info--company--social"> 
            <div class="social"><a class="social__link" href="javascript:void(0)"> <img class="social__link__icon" src="dist/Images/Website.png" alt="social-icon"/></a></div>
            <div class="social"><a class="social__link" href="javascript:void(0)"> <img class="social__link__icon" src="dist/Images/Instagram.png" alt="social-icon"/></a></div>
            <div class="social"><a class="social__link" href="javascript:void(0)"> <img class="social__link__icon" src="dist/Images/Instagram.png" alt="social-icon"/></a></div>
            <div class="social"><a class="social__link" href="javascript:void(0)"> <img class="social__link__icon" src="dist/Images/TV.png" alt="social-icon"/></a></div>
          </div>
        </div>
      </div>
      <!-- Website-Quick-Access-Link          -->
      <div class="col-xl-3 col-lg-6 col-md-4 col-sm-3 col-12"> 
        <div class="wrapper--quick--access">   
          <h4 class="wrapper--quick--access__title">دسترسی سریع</h4>
          <div class="wrapper--quick--access--divider"></div>
          <div class="wrapper--quick--access--links"> 
            <ul class="wrapper--quick--access--link">
              <li><a href="javascript:void(0)">خانه</a></li>
              <li><a href="javascript:void(0)">فروشگاه</a></li>
              <li><a href="javascript:void(0)">آزمایشگاه</a></li>
              <li><a href="javascript:void(0)"> وبلاگ</a></li>
            </ul>
            <ul class="wrapper--quick--access--link">
              <li><a href="javascript:void(0)">مشاوران</a></li>
              <li><a href="javascript:void(0)">سوالات متداول</a></li>
              <li><a href="javascript:void(0)">  مشتریان</a></li>
              <li><a href="javascript:void(0)">پنل مشاوران   </a></li>
            </ul>
            <ul class="wrapper--quick--access--link">
              <li><a href="javascript:void(0)">مقالات</a></li>
              <li><a href="javascript:void(0)">درباره ما</a></li>
              <li><a href="javascript:void(0)">  افتخارات</a></li>
              <li><a href="javascript:void(0)">تماس با ما </a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Information-Contact-Company           -->
      <div class="col-xl-3 col-lg-6 col-md-4 col-sm-3 col-12"> 
        <div class="wrapper--information">   
          <h4 class="wrapper--information__title">اطلاعات تماس</h4>
          <div class="wrapper--quick--access--divider"></div>
          <div class="wrapper--information---details"> 
            <ul class="wrapper--information--details--access">     
              <li class="wrapper--information--details--access__item"> <img class="wrapper--information--details--access__item__ico" src="dist/Images/Calling.png" alt="contact-us"/><a class="wrapper--information--details--access__item__text" href="tel:">0913-521-1236 </a></li>
              <li class="wrapper--information--details--access__item"> <img class="wrapper--information--details--access__item__ico" src="dist/Images/Calling.png" alt="contact-us"/><a class="wrapper--information--details--access__item__text" href="tel:">031--5544-5563</a></li>
              <li class="wrapper--information--details--access__item"> <img class="wrapper--information--details--access__item__ico" src="dist/Images/Calling.png" alt="contact-us"/><a class="wrapper--information--details--access__item__text" href="tel:">031--5544-5563</a></li>
              <li class="wrapper--information--details--access__item"> <img class="wrapper--information--details--access__item__ico" src="dist/Images/Message.png" alt="contact-us"/><a class="wrapper--information--details--access__item__text" href="mailto:">info@bargrizoon.ir</a></li>
              <li class="wrapper--information--details--access__item"> <img class="wrapper--information--details--access__item__ico" src="dist/Images/Message.png" alt="contact-us"/><a class="wrapper--information--details--access__item__text" href="mailto:">ایران تهران خانه طباطبایی ها</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-md-4 col-sm-3 col-12">
        <div class="wrapper--honors"> 
          <h4 class="wrapper--honors__title">افتخارات</h4>
          <div class="wrapper--honors--divider"></div>
          <div class="wrapper--honors__links"><a class="wrapper--honors__links__item" href="javascript:void(0)"> <img class="wrapper--honors__links__item__img img-fluid" src="dist/Images/enamad.png" alt="namad"/></a><a class="wrapper--honors__links__item" href="javascript:void(0)"> <img class="wrapper--honors__links__item__img img-fluid" src="dist/Images/enamad.png" alt="namad"/></a></div>
        </div>
      </div>
    </div>
  </div>
</footer>