.fixed__nav {
  @include fixed__nav(80px, #fff, $transition-base);

  @media screen and (min-width: 0px) and (max-width: 320px) {
    .container-fluid {
      padding: 20;
    }
  }

  .header {
    padding: 17px 0px;

    //Style Burger >

    .menu--burger {
      position: relative;
      width: 100%;
      height: 100%;
      @include d-flex;
      // &--items {
      // width: 100%;
      // height: 100%;
      margin-top: 10px;
      &--item:nth-child(1) {
        position: absolute;

        width: 24%;
        height: 3px;
        background-color: $text-primary;
        @include border-radius(5px);
      }

      &--item:nth-child(2) {
        position: absolute;

        top: 8px;
        width: 18%;
        height: 3px;
        background-color: $text-primary;
        @include border-radius(5px);
      }
      &--item:nth-child(3) {
        position: absolute;

        top: 16px;
        width: 12%;
        height: 3px;
        background-color: $text-primary;
        @include border-radius(5px);
      }
    }

    // column primary
    //>>>>>> Logo
    .img-logo {
      display: flex;
      align-items: center;

      img {
        @include media-xs {
          width: 80px;
        }
      }
    }

    // column second
    .navbar {
      @include flex__custome(row, right, center);
      padding: 0;
      height: 100%;
      @media screen and (max-width: 768px) {
        .slider .swiper .swiper-button-prev, .slider .swiper .swiper-button-next{
          display: none;
        }
          }

      .parent__menu {
        height: 100%;
        @include media-md {
          flex: row;
        }
        .link {
          position: relative;
          margin: 0px 15px;
          display: flex;
          flex-direction: row;
          justify-content: unset;
          align-items: center;
          font-size: 16px;
          &::after {
            content: "";
            position: absolute;

            bottom: -8px;
            width: 0%;
            height: 3px;
            @include border-radius;
            background-color: $color-base;
            @include flex-c-center;
            @include transition(all 700ms ease-in-out);
          }

          &:hover::after {
            width: 100%;
          }
          .parent__menu__item {
            @include t-style(16px, 400, $text-primary);
            transition: $transition-base;
            overflow: hidden;

            &:hover {
              color: $color-base;
            }
          }
        }
      }
    }

    // column tertiary

    .parent__two__elements {
      @include d-flex;
      justify-content: space-between;
      width: 100%;

      @media screen and (max-width: 768px) {
        justify-content: center;
      }

      .item_detail {
        @include d-flex;
        align-items: center;
        .search {
          margin: 0px 10px;
        }

        .buy {
          position: relative;

          &:hover .buy__item__badge {
            transform: rotate(360deg);
          }
          .buy__item__badge {
            background-color: var(--data-color);
            color: #fff;
            font-size: 1.2rem !important;
            display: flex;
            justify-content: center;
            align-items: center;
            @include border-radius(50px);
            width: 20px;
            right: -4px;
            height: 20px;
            top: -5px;
            position: absolute;
            @include transition(all 600ms ease-in-out);
          }
        }
      }

      .btn {
        @include button-size(
          12px,
          10px,
          1.6rem,
          1.7rem,
          $radius-base,
          #fff,
          $color-base
        );

        &:hover {
          background-color: white;
          color: $text-primary;
          border: 1px solid $color-base;
        }
        &:nth-child(2) {
          background-color: transparent;
          color: $color-second;
        }
      }
    }
  }

  //customize .row .column
  .row .column:nth-child(3) {
    @include flex__custome(row, flex-start, center);
  }
}
