@media screen and (min-width: 0px) and (max-width:768px) {
     .fixed-bottom {
          position: fixed;
          left: 0;
          bottom: 0;
          right: 0;
          height: 45px;
          background: #fff;
          z-index: 9;
          border-top: 1px solid #eee;
          border: 1px dashed $color-base;
          @include flex__custome(row, space-around, center);

          #fixed--bottom--{
               &cart__link{
                    position: relative;
                    #buy__item__badge{
                         background-color: var(--data-color);
                         color: #fff;
                         font-size: 1rem !important;
                         display: flex;
                         justify-content: center;
                         align-items: center;
                         @include border-radius(50px);
                         width: 15px;
                         right: -4px;
                         height: 15px;
                         top: -5px;
                         position: absolute;
                         @include transition(all 600ms ease-in-out);
                    }
               }
          }
        }
    
}
@media screen and (min-width: 768px) {
     .fixed-bottom{ display: none;
     }
     
    }


