@import "./base";
@import "./public";

body {
  //>>> colors
  background-color: #f3fff2;
  -webkit-font-smoothing: antialiased;

  main {
    ///>>> size and position
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
  }
}

#login_form {
  ///>>> size and position
  width: 470px;
  height: auto;
  margin-left: auto;
  margin-right: auto;

  .logo__link {
    ///>>> size and position
    display: block;
    margin: 40px 0;
  }
  .login--page {
    ///>> color & style
    @include border-radius(10px);
    background-color: #ffff;
    padding: 3rem 2rem;
    @include box-shadow(2px 5px 20px rgba(0, 0, 0, 0.1));
    border-bottom: 5px solid $color-base;

    @media screen and (max-width: 768px) {
      margin: 20px;
         }
    ///>>> size and position

    // & > * {
    //   ///>>> size and position
    //   margin-bottom: 80px;
    // }

    &--title {
      margin-bottom: 80px;

      @media screen and (max-width: 768px) {
        margin: 30px 0px;
       
           }
      ///>>> typographi
      text-align: center;
      &__text {
        ///>>> typographi and  color
        font-weight: 800;
        font-size: 23px;
        margin-bottom: 15px;

        @media screen and (max-width: 768px) {
          font-size: 19px;

         
             }
      }
      &__discription {
        ///>>> typographi and  color
        color: #5e5e5e;
        font-weight: 600;
        font-size: 14px;
        text-align: center;
      }

      @media screen and (max-width: 768px) {
        font-size: 13px;

       
           }
    }

    &--input {
      ///>>> size and position
      @include flex__custome(column, unset, unset);
      position: relative;

      ///>>> size and position

      // & > :first-child {
      //   margin-bottom: 20px;
      // }

      //>>> input__number__default
      &__number {
        ///>> color & style
        border: 1px solid $text-default;
        padding: 12px 50px;
        border-radius: 5px;
        direction: ltr;
        font-size: 14px;
        font-weight: 500;

        ///>>> size and position
      }

      .input--group {
        direction: ltr;
        position: absolute;
        left: 70px;
        top: 0px;
      @include flex__custome(row,center,center);
        height: 100%;
   

        #digit-3 , #digit-6 {
margin-right: 7px;
        }
        input {
          width: 15px;
          height: initial;
          font-size: 14px;
          font-weight: 700;
          text-align: center;

          &::placeholder {
            color: $text-default;
            font-size: 1.5em;
            @include transition(color 400ms ease-in-out);
            
          }
          &:focus{
            &::placeholder{
              color: $text-primary;

            }
          }

          
        }
      }
      ///>>> lable__input
      &__lable {
        ///>>> size and position
        ///>>> typographi
        position: absolute;
        // pointer-events: none;
        right: 24px;
        top: 15px;
        padding: 0 0 0 10px;
        @include transition(all 300ms ease-in-out);
        font-size: 13px;
        color: $text-primary;
        background-color: white;

        @media screen and (max-width: 768px) {
        display: none;
       
            }
      }

      #disable,
      #true,
      #false {
        position: absolute;
        top: 16px;
        right: 24px;
        width: fit-content;
        opacity: 0;
        @include transition(all 300ms ease-in-out);

        @media screen and (max-width: 768px) {
          display: none;
              }
      }

      ///>>> size and position
      #number:focus + {
        #lable {
          transform: translateY(-22px);
          position: absolute;
          padding: 0 10px;
          right: 15px;
          font-weight: 700;
        }
      }

      #number:focus ~ #disable {
        opacity: 1;
      }

      &__areacode {
        font-weight: 700;
        font-size: 14px;
        position: absolute;
        left: 0;
        color: $text-primary;
        width: 15%;
        height: 100%;
      @include flex__custome(row,center,center);

      }

&__text{
  font-size: 13px;
  color: $text-primary;
  font-weight: 600;
}
      ////>>>  Style__Confirm__Page

      #digit-group {
        direction: ltr;
      @include flex__custome(row,center,center);
        height: 100%;
        margin: 25px 0px 25px 0px;
        input {
          width: 45px;
          height: 45px;
          margin: 0px 15px;
          font-size: 14px;
          font-weight: 700;
          text-align: center;
          border: 1px solid $color-base;
          @include border-radius(5px);

          &::placeholder {
            color: $text-default;
            font-size: 1.5em;
            @include transition(color 400ms ease-in-out);
            
          }
          &:focus{
            &::placeholder{
              color: $text-primary;

            }
          }
        }
      
        .splitter {
          padding: 0 5px;
          color: white;
          font-size: 24px;
        }
      }
    }

   
    &--ifsignup {
      margin: 80px 0px;

     @media screen and (max-width: 768px) {
      margin: 30px 0px;
     
         }
      &__one {
        color: $text-default;
        font-size: 14px;
        font-weight: 400;
        margin-left: 10px;

      }

      &__two {
        font-size: 14px;
        color: $color-base;
        font-weight: 800;
      }
    }


     ///>>> size and position
    ///>>> typographi
    .login--page--button__send {
      margin-top: 20px;
      display: block;
      width: 100%;
      background-color: $text-default;
      padding: 13px 20px;
      font-size: 16px;
      color: $text-primary;
      text-align: center;
      @include border-radius(5px);
      @include transition(all 300ms ease-in-out);

      &:hover {
        background-color: $color-base;
        color: #fff;
      }
    }
  }
}
