@import "./base";
@import "./public";

body {
  //>>> colors
  background-color: #f3fff2;
  -webkit-font-smoothing: antialiased;

  main {
    ///>>> size and position
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }
}

#login_form {
  ///>>> size and position
  width: 470px;
  height: auto;
  margin-left: auto;
  margin-right: auto;

  .logo__link {
    ///>>> size and position
    display: block;
    margin: 40px 0;
  }
  .login--page {
    ///>> color & style
    @include border-radius(10px);
    background-color: #ffff;
    padding: 3rem 2rem;
    @include box-shadow(2px 5px 20px rgba(0, 0, 0, 0.1));
    border-bottom: 5px solid $color-base;
    ///>>> size and position

    & > * {
      ///>>> size and position
      margin-bottom: 80px;
    }

    &--title {
      ///>>> typographi
      text-align: center;
      &__text {
        ///>>> typographi and  color
        font-weight: 800;
        font-size: 23px;
        margin-bottom: 15px;
      }
      &__discription {
        ///>>> typographi and  color
        color: #5e5e5e;
        font-weight: 600;
        font-size: 14px;
        text-align: center;
      }
    }

    &--input {
      ///>>> size and position
      @include flex__custome(column, unset, unset);
      position: relative;

      ///>>> size and position

      & > :first-child {
        margin-bottom: 20px;
      }

      &__number {
        ///>> color & style
        border: 1px solid $text-default;
        padding: 12px 23px;
        border-radius: 5px;
        direction: ltr;
        font-size: 16px;

        ///>>> size and position
      }

      &__lable {
        ///>>> size and position
        ///>>> typographi
        position: absolute;
        // pointer-events: none;
        right: 24px;
        top: 16px;
        padding: 0 0 0 10px;
        @include transition(all 300ms ease-in-out);
        font-size: 13px;
        color: $text-primary;
        background-color: white;
      }

      #disable,
      #true,
      #false {
        position: absolute;
        top: 16px;
        right: 24px;
        width: fit-content;
        opacity: 0;
        @include transition(all 300ms ease-in-out);}

        ///>>> size and position
        #number:focus + {
          #lable {
            transform: translateY(-25px);
            position: absolute;
            padding: 0 10px;
            right: 15px;
          }
        }

        #number:focus ~ #disable{
          opacity: 1;
        }

        
      }
   

    ///>>> size and position
    ///>>> typographi
    &--button__send {
      background-color: $text-default;
      padding: 13px 20px;
      font-size: 16px;
      color: $text-primary;
      text-align: center;
      @include border-radius(5px);
      @include transition(all 300ms ease-in-out);

      &:hover {
        background-color: $color-base;
        color: #fff;
      }
    }
    &--ifsignup {
      &__one {
        color: $text-default;
        font-size: 14px;
        font-weight: 400;
        margin-left: 10px;
      }

      &__two {
        font-size: 14px;
        color: $color-base;
        font-weight: 800;
      }
    }
  }
}