doctype html
html(lang="fa", dir="rtl")
  head
    // Meta Name For Seo & Optimize Website
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport",content="width=device-width, initial-scale=1.0, maximum-scale=1.0, shrink-to-fit=no, user-scalable=no")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    meta(name="author", content="")
    meta(name="keywords", content="")
    meta(name="description", content="this website for test")
    meta(name="robots", content="index , nofollow")
    meta(name="GOOGLEBOT", content="noindex , nofollow")
    meta(name="og:site_name", content="")
    meta(name="og:title", content="")
    meta(name="og:description", content="")
    meta(name="og:image", content="")
    meta(name="og:image:secure_url", content="")
    meta(name="og:image:width", content="")
    meta(name="theme-color", content="")

    // Meta Name For Seo & Optimize Website

    //Favicon Website
    link(rel="shortcut icon", href="#", type="image/x-icon")
    link(rel="apple-touch-icon", href=";", sizes="180x180")
    link(rel="icon",href="",type="image/png",sizes="16x16")
    link(rel="icon",href="",type="image/png",sizes="32x32")
    link(rel="icon",href="",type="image/png",sizes="64x64")
    link(rel="icon",href="",type="image/png",sizes="180x180")

    // Title-Bar & Attached links
    title دکتر پاین مرجع تخصصی گیاه

    // Set Css Link
    link(rel="stylesheet" ,type="text/css", href="/Src/Styles/common&related.css")

    block headstyle

  body 
    // The Header website
    block header
    main 
      // The middle part of the website
      block content

      //******** end of #main ********//

    block footer

    // Attached links & Script Which must be loaded at the end

    script(src="/dist/bundle.js") 
    block script
      // swiper_car
