@import "../base";
@import "../public";

@mixin theme--icon($background-color, $borderr-radius, $width) {
  padding: 10px;
  background-color: $background-color;
  @include border-radius($borderr-radius);
  width: $width;
}

@mixin content-text {
  font-weight: 800;
  @include linetext(2);
  margin: 22px 0px;
  padding: 0px 70px;
  line-height: 1.6;
  font-size: 16px;
  text-align: center;
}

// Style__Headline
.headline {
  &__title-box {
    @include d-flex;

    .headline_title__content {
      margin: auto 10px auto 0;
    }

    .headline__diveder {
      background-color: #e1e1e1;
      height: 2px;
      width: 75%;
      margin: auto;
      border-radius: 3px;

      &__text {
        margin: auto 15px;
      }
    }
  }

  .see-category {
    @include flex-r-center;
    font-size: 16px;
  }
}

// Slider___Style
.slider {
  margin: 50px 0px 50px 0px;

  .swiper {
    @include border-radius();

    // style arrow left & right
    .swiper-button-prev,
    .swiper-button-next {
      z-index: 1;
      background-color: #fff;
      width: 35px;
      height: 35px;
      border-radius: 100%;
      position: absolute;
      @include transition(background-color 700ms ease-in-out);

      &:hover {
        background-color: $color-base;
        border: 1px solid white;
        img {
          filter: invert(99%) sepia(95%) saturate(0%) hue-rotate(208deg)
            brightness(105%) contrast(100%);
        }
      }

      &::after {
        content: "";
      }
    }

    img.left,
    img.right {
      z-index: -1;
    }
  }
}

// banner__Left__Style__In __ection One
.banner--left {
  a.banner--left--link {
    img {
      margin-bottom: 17px;
      @include border-radius();
    }
  }
}

// Style__Category__Section

.category {
  // Style__Slider
  #category--slider {
    margin: 50px 0;
    .swiper-slide {
      @include d-flex;
      justify-content: center;

      .item__box {
        @extend .swiper-slide;
        // width: 100%;

        &__caption {
          // @include d-flex;
          // justify-content: center;
          // flex-direction: column;
          padding: 15px 0px 20px 0;

          img {
            margin: 3px;
          }
          &__icon--one {
            @include theme--icon(#cce5fd, 100%, fit-content);
            margin: 0 auto;
          }
          &__icon--two {
            @include theme--icon(#d1ded5, 100%, fit-content);
            margin: 0 auto;
          }

          &__content {
            &--text {
              @include content-text;
            }
          }
          .item__box__caption__servises {
            text-align: center;
            &__button {
              @include button-size(
                8px,
                20px,
                16px,
                1.6rem,
                7px,
                $text-primary,
                transparent
              );
            }
          }
        }

        &:hover {
          .item__box__caption__content--text {
            @include transition(color 700ms ease-in-out);
            color: $color-base;
          }

          .item__box__caption__servises__button {
            color: white;
            background-color: $color-base;
            @include transition(all 700ms ease-out);
          }

          .box {
            filter: invert(63%) sepia(60%) saturate(368%) hue-rotate(53deg)
              brightness(97%) contrast(87%);
          }
        }

        .box {
          position: absolute;
          z-index: -1;
          @include transition(all 700ms ease-in-out);
        }
      }
    }
  }

  // style arrow left & right

  .swiper-rtl .swiper-button-next {
    left: 29px;
    bottom: 60px;
    top: auto;
    right: auto;
    transform: translate(3px, -2px);
  }
  .swiper-rtl .swiper-button-prev {
    right: 33px;
    bottom: 60px;
    top: auto;
    left: auto;
    transform: translate(3px, -2px);
  }
  .swiper-button-prev,
  .swiper-button-next {
    // transform: translate(3px , 25px);

    z-index: 1;
    background-color: #fff;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    position: absolute;
    @include transition(all 700ms ease-in-out);
    border: 1px solid $color-base;

    &:hover {
      background-color: $color-base;
      border: 1px solid white;
      img {
        filter: invert(99%) sepia(95%) saturate(0%) hue-rotate(208deg)
          brightness(105%) contrast(100%);
      }
    }

    &::after {
      content: "";
    }
  }

  img.left,
  img.right {
    z-index: -1;
  }
}
.most--popular {
  .swiper-wrapper {
    margin: 20px 0px;
  }
  #most--popular--slider {
    margin: 50px 0;

    .swiper-wrapper {
      margin: 30px 0px;
    }
    .swiper-slide {
      @include d-flex;
      justify-content: center;

      .wrapper--card {
        position: relative;
        background-color: #fff;
        border: 1px solid white;
        @include border-radius;
        @include box-shadow;
        padding: 30px 15px;
        @include flex-c-center;

        &__link {
          margin-bottom: 15px;
        }

        &--caption {
          &__link {
            &__title {
              font-weight: 700;
              font-size: 18px;
              color: $text-primary;
              @include linetext(1);
              margin: 0 0 10px 0;
            }
          }

          &--price {
            &__title {
              font-size: 14px;
              color: $text-default;
              margin: 0 0 5px 0;
            }

            .wrapper--card--caption--prices {
              &__title__sale {
                font-weight: 800;
                font-size: 15px;
                color: inherit;
                margin-left: 30px;
              }

              &__title__discount {
                font-weight: 500;
                font-size: 14px;
                color: $text-default;
                text-decoration: line-through;
              }

              color: $text-primary;
            }
          }
        }

        &--button{
          display: flex;
          position: absolute;
          bottom: -22px;
          transform: translateY(0px);

          &__product {
           
            text-align: center;
            font-weight: 600;
            @include button-size(10px, 20px, 13px, 1.6, 5px, #fff, $color-base);
            @include transition;


            &::after {
              content: "";
              background-color: rgba(127, 191, 87, 0.5);
              position: absolute;
              bottom: 0px;
              top: -5px;
              left: 0px;
              right: -4px;
              width: 140px;
              z-index: -1;
              border-radius: 5px;
              height: 53px;
              opacity: 0;
              @include transition;

         
            }

           
          }

         
        }
      }
    }
  }
}
