:root {
  --data-color: #7fbf57;
  --shadow-btn: hsla(97, 45%, 55%, 50%);
  --text-primary: #404751;
  --color-default: #e1e1e1;
  --bg-color: #f9f9f9;
}

.d_flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
}

.flex--r--c {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
@media (max-width: 567px) {
  html {
    font-size: 57.2%;
  }
}

body {
  font-family: "iranyekan";
  direction: rtl;
  background-color: var(--bg-color);
  text-align: right;
  overflow-x: hidden;
  font-size: 1.4m;
}

.container, .container-fluid, .container-xl, .container-lg, .container-md, .container-sm {
  padding-right: 45px;
  padding-left: 45px;
}

img {
  -webkit-user-drag: none;
  cursor: pointer;
  vertical-align: middle;
  border-style: none;
}

img, video {
  max-width: 100%;
  height: auto;
}

audio, canvas, embed, iframe, img, object, svg, video {
  display: inline-block;
  vertical-align: middle;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 0rem;
}

a, a:hover {
  text-decoration: none;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

::selection {
  background: rgba(126, 126, 126, 0.26);
}

::-webkit-selection {
  background: rgba(126, 126, 126, 0.26);
}

::-webkit-scrollbar {
  width: 8px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background: #9e9e9e;
}

::-webkit-scrollbar-track {
  background: #dadada;
}

.form-control:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

input:focus, .btn:focus, .btn.focus {
  outline: none;
  box-shadow: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea, a:hover {
  font-family: iranyekan !important;
  color: var(--text-primary);
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--text-primary);
}

h1,
h2,
h3 {
  font-weight: 700;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.2rem;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 3.5rem;
  }
}
.slider {
  margin: 50px 0px 50px 0px;
}
.slider .swiper {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.slider .swiper .swiper-button-prev,
.slider .swiper .swiper-button-next {
  z-index: 1;
  background-color: #fff;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  position: absolute;
  -webkit-transition: background-color 400ms ease;
  -moz-transition: background-color 400ms ease;
  -ms-transition: background-color 400ms ease;
  -o-transition: background-color 400ms ease;
  transition: background-color 400ms ease;
}
.slider .swiper .swiper-button-prev:hover,
.slider .swiper .swiper-button-next:hover {
  background-color: var(--data-color);
  border: 1px solid white;
}
.slider .swiper .swiper-button-prev:hover img,
.slider .swiper .swiper-button-next:hover img {
  filter: invert(99%) sepia(95%) saturate(0%) hue-rotate(208deg) brightness(105%) contrast(100%);
}
.slider .swiper .swiper-button-prev::after,
.slider .swiper .swiper-button-next::after {
  content: "";
}
.slider .swiper img.left,
.slider .swiper img.right {
  z-index: -1;
}

.banner--left a.banner--left--link img {
  margin-bottom: 17px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.category .headline .headline__title-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
}
.category .headline .headline__title-box .headline_title__content {
  margin: auto 10px auto 0;
}
.category #category-slider .swiper-slide, .category #category-slider .swiper-slide .item__box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  justify-content: center;
}
.category #category-slider .swiper-slide .item__box {
  width: 100%;
}
.category #category-slider .swiper-slide .item__box__caption__icon--one {
  padding: 20px 20px;
  background-color: #cce5fd;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  width: fit-content;
  margin: 0 auto;
}
.category #category-slider .swiper-slide .item__box__caption__content--text {
  font-weight: 800;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  /* autoprefixer: off */
  margin: 20px 20px;
  font-size: 20px;
  text-align: center;
}
.category #category-slider .swiper-slide .item__box__caption .item__box__caption__servises {
  text-align: center;
}
.category #category-slider .swiper-slide .item__box__caption .item__box__caption__servises__button {
  padding: 7px 10px;
  font-size: 16px;
  line-height: 1.6rem;
  color: var(--text-primary);
  background-color: transparent;
  border: 1px solid var(--data-color);
  margin: 0 auto;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}
.category .swiper-button-prev,
.category .swiper-button-next {
  z-index: 1;
  background-color: #fff;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  position: absolute;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  border: 1px solid var(--data-color);
}
.category .swiper-button-prev:hover,
.category .swiper-button-next:hover {
  background-color: var(--data-color);
  border: 1px solid white;
}
.category .swiper-button-prev:hover img,
.category .swiper-button-next:hover img {
  filter: invert(99%) sepia(95%) saturate(0%) hue-rotate(208deg) brightness(105%) contrast(100%);
}
.category .swiper-button-prev::after,
.category .swiper-button-next::after {
  content: "";
}
.category img.left,
.category img.right {
  z-index: -1;
}

/*# sourceMappingURL=index.css.map */
