
<section class="most--popular"> 
  <div class="container-fluid"> 
    <div class="row"> 
      <div class="col-12"> 
        <div class="headline"> 
          <div class="headline__title-box"> 
            <div class="headline_title__icon"> <img src="dist/Images/Award.png" alt=""/></div>
            <div class="headline_title__content">
              <h3>پرفروش ترین ها</h3>
            </div><span class="headline__diveder"></span><a class="see-category" href="javascript:void(0)">
              <p class="headline__diveder__text">مشاهده همه</p><img src="dist/Images/Category_arrow.png" alt=""/></a>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper" id="most--popular--slider">
      <div class="swiper-wrapper"> 
        <div class="swiper-slide">
          <figure class="wrapper--card"><a class="wrapper--card__link" href="javascript:void(0)"> <img class="img-fluid" src="/dist/Images/Image_item.png" alt=""/></a>
            <figcaption class="wrapper--card--caption"> <a class="wrapper--card--caption__link" href="javascript:void(0)">
                <p class="wrapper--card--caption__link__title">بذرگوجه فرنگی تانیا</p></a>
              <div class="wrapper--card--caption--price"> 
                <p class="wrapper--card--caption--price__title">قیمت</p>
                <div class="wrapper--card--caption--prices"><span class="wrapper--card--caption--prices__title__sale">1،250،000 تومان</span><span class="wrapper--card--caption--prices__title__discount">1،450،000</span></div>
              </div>
            </figcaption><a class="wrapper--card--button" href="javascript:void(0)">مشاهده محصول</a><span class="discount__code">20%</span>
            <div class="wrapper--detail-over">
              <div class="wrapper--detail"> <a class="wrapper--detail__inside" href="javascript:void(0)"><img class="wrapper--detail__inside__img" src="/dist/Images/Heart_disable.png" alt="heart-ico"/></a><a class="wrapper--detail__inside" href="javascript:void(0)"><img class="wrapper--detail__inside__img" src="/dist/Images/Show.png" alt="eye-ico"/></a></div>
            </div>
          </figure>
        </div>
        <div class="swiper-slide">
          <figure class="wrapper--card"><a class="wrapper--card__link" href="javascript:void(0)"> <img class="img-fluid" src="/dist/Images/Image_item.png" alt=""/></a>
            <figcaption class="wrapper--card--caption"> <a class="wrapper--card--caption__link" href="javascript:void(0)">
                <p class="wrapper--card--caption__link__title">بذرگوجه فرنگی تانیا</p></a>
              <div class="wrapper--card--caption--price"> 
                <p class="wrapper--card--caption--price__title">قیمت</p>
                <div class="wrapper--card--caption--prices"><span class="wrapper--card--caption--prices__title__sale">1،250،000 تومان</span><span class="wrapper--card--caption--prices__title__discount">1،450،000</span></div>
              </div>
            </figcaption><a class="wrapper--card--button" href="javascript:void(0)">مشاهده محصول</a><span class="discount__code">20%</span>
            <div class="wrapper--detail-over">
              <div class="wrapper--detail"> <a class="wrapper--detail__inside" href="javascript:void(0)"><img class="wrapper--detail__inside__img" src="/dist/Images/Heart_disable.png" alt="heart-ico"/></a><a class="wrapper--detail__inside" href="javascript:void(0)"><img class="wrapper--detail__inside__img" src="/dist/Images/Show.png" alt="eye-ico"/></a></div>
            </div>
          </figure>
        </div>
        <div class="swiper-slide">
          <figure class="wrapper--card"><a class="wrapper--card__link" href="javascript:void(0)"> <img class="img-fluid" src="/dist/Images/Image_item.png" alt=""/></a>
            <figcaption class="wrapper--card--caption"> <a class="wrapper--card--caption__link" href="javascript:void(0)">
                <p class="wrapper--card--caption__link__title"> بذرگوجه فرنگی تانیا</p></a>
              <div class="wrapper--card--caption--price"> 
                <p class="wrapper--card--caption--price__title">قیمت</p>
                <div class="wrapper--card--caption--prices"><span class="wrapper--card--caption--prices__title__sale">1،250،000 تومان</span><span class="wrapper--card--caption--prices__title__discount">1،450،000</span></div>
              </div>
            </figcaption><a class="wrapper--card--button" href="javascript:void(0)">مشاهده محصول</a><span class="discount__code">20%</span>
            <div class="wrapper--detail-over">
              <div class="wrapper--detail"> <a class="wrapper--detail__inside" href="javascript:void(0)"><img class="wrapper--detail__inside__img" src="/dist/Images/Heart_disable.png" alt="heart-ico"/></a><a class="wrapper--detail__inside" href="javascript:void(0)"><img class="wrapper--detail__inside__img" src="/dist/Images/Show.png" alt="eye-ico"/></a></div>
            </div>
          </figure>
        </div>
        <div class="swiper-slide">
          <figure class="wrapper--card"><a class="wrapper--card__link" href="javascript:void(0)"> <img class="img-fluid" src="/dist/Images/Image_item.png" alt=""/></a>
            <figcaption class="wrapper--card--caption"> <a class="wrapper--card--caption__link" href="javascript:void(0)">
                <p class="wrapper--card--caption__link__title">بذرگوجه فرنگی تانیا</p></a>
              <div class="wrapper--card--caption--price"> 
                <p class="wrapper--card--caption--price__title">قیمت</p>
                <div class="wrapper--card--caption--prices"><span class="wrapper--card--caption--prices__title__sale">1،250،000 تومان</span><span class="wrapper--card--caption--prices__title__discount">1،450،000</span></div>
              </div>
            </figcaption><a class="wrapper--card--button" href="javascript:void(0)">مشاهده محصول</a><span class="discount__code">20%</span>
            <div class="wrapper--detail-over">
              <div class="wrapper--detail"> <a class="wrapper--detail__inside" href="javascript:void(0)"><img class="wrapper--detail__inside__img" src="/dist/Images/Heart_disable.png" alt="heart-ico"/></a><a class="wrapper--detail__inside" href="javascript:void(0)"><img class="wrapper--detail__inside__img" src="/dist/Images/Show.png" alt="eye-ico"/></a></div>
            </div>
          </figure>
        </div>
        <div class="swiper-slide">
          <figure class="wrapper--card"><a class="wrapper--card__link" href="javascript:void(0)"> <img class="img-fluid" src="/dist/Images/Image_item.png" alt=""/></a>
            <figcaption class="wrapper--card--caption"> <a class="wrapper--card--caption__link" href="javascript:void(0)">
                <p class="wrapper--card--caption__link__title">بذرگوجه فرنگی تانیا</p></a>
              <div class="wrapper--card--caption--price"> 
                <p class="wrapper--card--caption--price__title">قیمت</p>
                <div class="wrapper--card--caption--prices"><span class="wrapper--card--caption--prices__title__sale">1،250،000 تومان</span><span class="wrapper--card--caption--prices__title__discount">1،450،000</span></div>
              </div>
            </figcaption><a class="wrapper--card--button" href="javascript:void(0)">مشاهده محصول</a><span class="discount__code">20%</span>
            <div class="wrapper--detail-over">
              <div class="wrapper--detail"> <a class="wrapper--detail__inside" href="javascript:void(0)"><img class="wrapper--detail__inside__img" src="/dist/Images/Heart_disable.png" alt="heart-ico"/></a><a class="wrapper--detail__inside" href="javascript:void(0)"><img class="wrapper--detail__inside__img" src="/dist/Images/Show.png" alt="eye-ico"/></a></div>
            </div>
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>