
<div class="container-fluid"> 
  <div class="row"> 
    <div class="col-12"> 
      <div class="row"> 
        <div class="col-12">    
          <div class="headline"> 
            <div class="headline__title-box"> 
              <div class="headline_title__icon"> <img src="dist/Images/Document-Justify-Center-.png" alt=""/></div>
              <div class="headline_title__content">
                <h3 id="title"> وبلاگ</h3>
              </div><span class="headline__diveder"></span><a class="see-category" href="javascript:void(0)">
                <p class="headline__diveder__text" id="title2">مشاهده همه</p><img src="dist/Images/Category_arrow.png" alt=""/></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="blog"> 
  <div class="container"> 
    <div class="row"> 
      <div class="col-12"> 
        <div class="swiper" id="blog--slider"> 
          <div class="swiper-wrapper"> 
            <div class="swiper-slide">
              <figure class="wrapper--blog"><a class="wrappper--blog__link" href="javascript:void(0)"><img class="wrappper--blog__link__img img-fluid" src="/dist/Images/img-1.png" alt="image-item"/></a>
                <figcaption class="wrapper--blog--detail"> 
                  <div class="wrapper--blog--detail--meta">
                    <div class="wrapper--blog--detail--meta--time"><img class="wrapper--blog--detail--meta--time__icon" src="/dist/Images/Pen.png" alt=""/>
                      <time class="wrapper--blog--detail--meta--time__number" datetime="2021-10-27">1400/06/21</time>
                    </div>
                    <div class="wrapper--blog--detail--meta--author"><img class="wrapper--blog--detail--meta--author__icon" src="/dist/Images/Profile Square.png" alt=""/>
                      <p class="wrapper--blog--detail--meta--author__name">علیرضا محمدی</p>
                    </div>
                  </div>
                  <div class="wrapper--info--blog"><a class="wrapper--info--blog--title" href="javascript:void(0)">
                      <h3 class="wrapper--info--blog--title__text">بذرباشی در فصول مختلف سال</h3></a>
                    <p class="wrapper--info--blog--discription">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و</p>
                  </div>
                  <button class="wrapper--info--blog--detail__button text-center">مشاهده مقاله</button>
                </figcaption>
              </figure>
            </div>
            <div class="swiper-slide">
              <figure class="wrapper--blog"><a class="wrappper--blog__link" href="javascript:void(0)"><img class="wrappper--blog__link__img img-fluid" src="/dist/Images/img-2.png" alt="image-item"/></a>
                <figcaption class="wrapper--blog--detail"> 
                  <div class="wrapper--blog--detail--meta">
                    <div class="wrapper--blog--detail--meta--time"><img class="wrapper--blog--detail--meta--time__icon" src="/dist/Images/Pen.png" alt=""/>
                      <time class="wrapper--blog--detail--meta--time__number" datetime="2021-10-27">1400/06/21</time>
                    </div>
                    <div class="wrapper--blog--detail--meta--author"><img class="wrapper--blog--detail--meta--author__icon" src="/dist/Images/Profile Square.png" alt=""/>
                      <p class="wrapper--blog--detail--meta--author__name">علیرضا محمدی</p>
                    </div>
                  </div>
                  <div class="wrapper--info--blog"><a class="wrapper--info--blog--title" href="javascript:void(0)">
                      <h3 class="wrapper--info--blog--title__text">بذرباشی در فصول مختلف سال</h3></a>
                    <p class="wrapper--info--blog--discription">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و</p>
                  </div>
                  <button class="wrapper--info--blog--detail__button text-center">مشاهده مقاله</button>
                </figcaption>
              </figure>
            </div>
            <div class="swiper-slide">
              <figure class="wrapper--blog"><a class="wrappper--blog__link" href="javascript:void(0)"><img class="wrappper--blog__link__img img-fluid" src="/dist/Images/img-3.png" alt="image-item"/></a>
                <figcaption class="wrapper--blog--detail"> 
                  <div class="wrapper--blog--detail--meta">
                    <div class="wrapper--blog--detail--meta--time"><img class="wrapper--blog--detail--meta--time__icon" src="/dist/Images/Pen.png" alt=""/>
                      <time class="wrapper--blog--detail--meta--time__number" datetime="2021-10-27">1400/06/21</time>
                    </div>
                    <div class="wrapper--blog--detail--meta--author"><img class="wrapper--blog--detail--meta--author__icon" src="/dist/Images/Profile Square.png" alt=""/>
                      <p class="wrapper--blog--detail--meta--author__name">علیرضا محمدی</p>
                    </div>
                  </div>
                  <div class="wrapper--info--blog"><a class="wrapper--info--blog--title" href="javascript:void(0)">
                      <h3 class="wrapper--info--blog--title__text">بذرباشی در فصول مختلف سال</h3></a>
                    <p class="wrapper--info--blog--discription">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و</p>
                  </div>
                  <button class="wrapper--info--blog--detail__button text-center">مشاهده مقاله</button>
                </figcaption>
              </figure>
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>
  </div>
</section>