
<section class="breadcrumb"> 
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 d-flex"> 
        <nav>
          <ol class="breadcrumb--parent"> <a href=""> 
              <li class="breadcrumb--parent__item"></li></a><span>/</span><a href=""> 
              <li class="breadcrumb--parent__item active"></li></a><span> </span><a href=""> 
              <li class="breadcrumb--parent__item"> </li></a><span> </span></ol>
        </nav>
      </div>
    </div>
  </div>
</section>