section.breadcrumb 
     .container-fluid
          .row
               .col-12.d-flex 
                    nav
                         ol.breadcrumb--parent 
                              a(href="") 
                                   li.breadcrumb--parent__item=item_1
                              span /
                              a(href="") 
                                   li.breadcrumb--parent__item.active=item_2
                              span 
                              a(href="") 
                                   li.breadcrumb--parent__item 
                              span 
                              