
<section class="breadcrumb"> 
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 d-flex"> 
        <nav>
          <ol class="breadcrumb--parent"> <a href=""> 
              <li class="breadcrumb--parent__item">مشاوران</li></a><span>/</span><a href=""> 
              <li class="breadcrumb--parent__item active">لیست مشاورین</li></a><span> </span><a href=""> 
              <li class="breadcrumb--parent__item"> </li></a><span> </span></ol>
        </nav>
      </div>
    </div>
  </div>
</section>
<section class="position--page">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h3 class="position--page__title">لیست مشاورین </h3>
        <p class="position--page__discription"></p>
      </div>
    </div>
  </div>
</section>
<section class="search--bar"> 
  <div class="container"> 
    <div class="row"> 
      <form class="search--bar--form" action="get">
        <div class="col-xl-3">
          <div class="search--bar--form--title">
            <input class="search--bar--form--title__input" width="60px" type="text" name="" placeholder="بدنبال چه چیزی هستید ...؟"/>
            <div class="search--bar--form--title--image"><img class="search--bar--form--title--image__img" src="dist/images/search-ico.svg" alt="search-ico"/></div>
          </div>
        </div>
        <div class="col"> 
          <div class="search--bar--form--expert">
            <input class="search--bar--form--expert__input" type="text" name="" placeholder="تخصص یا حرفه ..."/>
            <div class="search--bar--form--expert--image"><img class="search--bar--form--expert--image__img" src="dist/images/paper-ico.svg" alt="paper-ico"/></div>
          </div>
        </div>
        <div class="col"> 
          <div class="search--bar--form--rate">
            <input class="search--bar--form--rate__input" type="text" name="" placeholder="امتیاز مشاور"/>
            <div class="search--bar--form--rate--image"><img class="search--bar--form--rate__img" src="dist/images/star-ico.svg" alt="paper-ico"/></div>
          </div>
        </div>
        <div class="col"> 
          <div class="search--bar--form--history">
            <input class="search--bar--form--history__input" type="text" name="" placeholder="سابقه مشاور"/>
            <div class="search--bar--form--history--image"><img class="search--bar--form--history__img" src="dist/images/forward-ico.svg" alt="paper-ico"/></div>
          </div>
        </div>
        <div class="col-xl-2">
          <button class="search--bar--form--submit" type="submit">جستجو اطلاعات</button>
        </div>
      </form>
    </div>
  </div>
</section>
<section class="bill--detail">
  <div class="table-responsive">
    <table class="table">
      <thead class="bill--detail--thead">
        <tr>
          <th class="bill--detail--thead__th" scope="col"> </th>
          <th class="bill--detail--thead__th" scope="col">نام مشاور</th>
          <th class="bill--detail--thead__th" scope="col">تخصص یا مهارت</th>
          <th class="bill--detail--thead__th" scope="col">میزان تحصیلات</th>
          <th class="bill--detail--thead__th" scope="col">سابقه کاری</th>
          <th class="bill--detail--thead__th" scope="col">توضیحات</th>
          <th class="bill--detail--thead__th" scope="col"> </th>
        </tr>
      </thead>
      <tbody class="bill--detail--tbody">
        <tr>
          <th class="bill--detail--tbody__th" scope="row">1</th>
          <th class="bill--detail--tbody__th" scope="row">علیرضا مصیبی</th>
          <td class="bill--detail--tbody--td">فوق تخصص اعصاب</td>
          <td class="bill--detail--tbody--td">لیسانس</td>
          <td class="bill--detail--tbody--td">10 سال</td>
          <td class="bill--detail--tbody--td">توضیحات</td>
          <td class="bill--detail--tbody--td"> 
            <button class="btn btn-lg" id="reservation">رزرو</button>
          </td>
        </tr>
        <tr>
          <th class="bill--detail--tbody__th" scope="row">2</th>
          <th class="bill--detail--tbody__th" scope="row">علیرضا مصیبی</th>
          <td class="bill--detail--tbody--td">فوق تخصص اعصاب</td>
          <td class="bill--detail--tbody--td">لیسانس</td>
          <td class="bill--detail--tbody--td">10 سال</td>
          <td class="bill--detail--tbody--td">توضیحات</td>
          <td class="bill--detail--tbody--td"> 
            <button class="btn btn-lg" id="reservation">رزرو</button>
          </td>
        </tr>
        <tr>
          <th class="bill--detail--tbody__th" scope="row">3</th>
          <th class="bill--detail--tbody__th" scope="row">علیرضا مصیبی</th>
          <td class="bill--detail--tbody--td">فوق تخصص اعصاب</td>
          <td class="bill--detail--tbody--td">لیسانس</td>
          <td class="bill--detail--tbody--td">10 سال</td>
          <td class="bill--detail--tbody--td">توضیحات</td>
          <td class="bill--detail--tbody--td"> 
            <button class="btn btn-lg" id="reservation">رزرو</button>
          </td>
        </tr>
        <tr>
          <th class="bill--detail--tbody__th" scope="row">4</th>
          <th class="bill--detail--tbody__th" scope="row">علیرضا مصیبی</th>
          <td class="bill--detail--tbody--td">فوق تخصص اعصاب</td>
          <td class="bill--detail--tbody--td">لیسانس</td>
          <td class="bill--detail--tbody--td">10 سال</td>
          <td class="bill--detail--tbody--td">توضیحات</td>
          <td class="bill--detail--tbody--td"> 
            <button class="btn btn-lg" id="reservation">رزرو</button>
          </td>
        </tr>
        <tr>
          <th class="bill--detail--tbody__th" scope="row">5</th>
          <th class="bill--detail--tbody__th" scope="row">علیرضا مصیبی</th>
          <td class="bill--detail--tbody--td">فوق تخصص اعصاب</td>
          <td class="bill--detail--tbody--td">لیسانس</td>
          <td class="bill--detail--tbody--td">10 سال</td>
          <td class="bill--detail--tbody--td">توضیحات</td>
          <td class="bill--detail--tbody--td"> 
            <button class="btn btn-lg" id="reservation">رزرو</button>
          </td>
        </tr>
        <tr>
          <th class="bill--detail--tbody__th" scope="row">6</th>
          <th class="bill--detail--tbody__th" scope="row">علیرضا مصیبی</th>
          <td class="bill--detail--tbody--td">فوق تخصص اعصاب</td>
          <td class="bill--detail--tbody--td">لیسانس</td>
          <td class="bill--detail--tbody--td">10 سال</td>
          <td class="bill--detail--tbody--td">توضیحات</td>
          <td class="bill--detail--tbody--td"> 
            <button class="btn btn-lg" id="reservation">رزرو</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>