

.headline 
  .headline__title-box 
     .headline_title__icon 
          img(src=img , alt="")
     .headline_title__content
          h3 #{text}

     span.headline__diveder
     a(href="javascript:void(0)").see-category
          .span #{see}
          img(src=arrow_left, alt="")
        
    
