.row 
     .col-12     
          .headline 
               .headline__title-box 
                    .headline_title__icon 
                         img(src=img , alt="")
                    .headline_title__content
                         h3#title  #{text}

                    span.headline__diveder
                    a(href="javascript:void(0)").see-category
                         p#title2.headline__diveder__text #{see}
                         img(src=arrow_left, alt="")
                    
          
