.container-fluid 
     .row 
          .fixed-bottom
               .col-3.text-center
                    a(href="javascript:void(0)")#fixed--bottom--category__link
                         img#fixed--bottom--category__link__img(src="/dist/Images/Category-1.png", alt="category-navbar")
               .col-3.text-center
                    a(href="javascript:void(0)")#fixed--bottom--home__link
                         img#fixed--bottom--home__link__img(src="/dist/Images/Home.png", alt="home-navbar")
               .col-3.text-center
                    a(href="javascript:void(0)")#fixed--bottom--cart__link
                         img#fixed--bottom--cart__link__img(src="/dist/Images/Buy-2.png", alt="cart-navbar")
                         span#buy__item__badge 11
               .col-3.text-center
                    a(href="javascript:void(0)")#fixed--bottom--user__link
                         img#fixed--bottom--user__link__img(src="/dist/Images/user-Tag.png", alt="user-navbar")