
<div class="container-fluid"> 
  <div class="row"> 
    <div class="fixed-bottom">
      <div class="col-3 text-center"><a href="javascript:void(0)" id="fixed--bottom--category__link"><img id="fixed--bottom--category__link__img" src="dist/Images/Category-1.png" alt="category-navbar"/></a></div>
      <div class="col-3 text-center"><a href="javascript:void(0)" id="fixed--bottom--home__link"><img id="fixed--bottom--home__link__img" src="dist/Images/Home.png" alt="home-navbar"/></a></div>
      <div class="col-3 text-center"><a href="javascript:void(0)" id="fixed--bottom--cart__link"><img id="fixed--bottom--cart__link__img" src="dist/Images/Buy-2.png" alt="cart-navbar"/><span id="buy__item__badge">11</span></a></div>
      <div class="col-3 text-center"><a href="javascript:void(0)" id="fixed--bottom--user__link"><img id="fixed--bottom--user__link__img" src="dist/Images/user-Tag.png" alt="user-navbar"/></a></div>
    </div>
  </div>
</div>