- var text = "محبوب ترین ها";
- var img = "dist/Images/Heart.png";
- var see = "مشاهده همه";
- var arrow_left = "dist/Images/Category_arrow.png";

section.most--popular 
  .container-fluid 
    .row 
      .col-12 
        include _headline.pug
    #most--popular--slider.swiper
      .swiper-wrapper 
        each value in ['بذرگوجه فرنگی تانیا' , 'بذرگوجه فرنگی تانیا' , ' بذرگوجه فرنگی تانیا'  , 'بذرگوجه فرنگی تانیا' , 'بذرگوجه فرنگی تانیا']
          .swiper-slide
            figure.wrapper--card

              a.wrapper--card__link(href="javascript:void(0)") 
                img.img-fluid(src="/dist/Images/Image_item.png", alt="")
              figcaption.wrapper--card--caption 
                a.wrapper--card--caption__link(href="javascript:void(0)")
                  p.wrapper--card--caption__link__title= value
                .wrapper--card--caption--price 
                  p.wrapper--card--caption--price__title قیمت
                  .wrapper--card--caption--prices
                    span.wrapper--card--caption--prices__title__sale 1،250،000 تومان
                    span.wrapper--card--caption--prices__title__discount 1،450،000
              a(href="javascript:void(0)").wrapper--card--button مشاهده محصول
                //- button.wrapper--card--button__product 
              span.discount__code 20%
              .wrapper--detail-over
                .wrapper--detail 
                  a.wrapper--detail__inside(href="javascript:void(0)")
                    img.wrapper--detail__inside__img(src="/dist/Images/Heart_disable.png", alt="heart-ico")
                  a.wrapper--detail__inside(href="javascript:void(0)")
                    img.wrapper--detail__inside__img(src="/dist/Images/Show.png", alt="eye-ico")
      .swiper-pagination

