aside.style#asidemenu
  nav.asidemenu--nav 
    ul.asidemenu--nav--parent
      a.asidemenu--nav--parent__link(href="javascript:void(0)")
        .asidemenu--nav--parent__link__image
          img.asidemenu--nav--parent__link__image__ico(src="dist/Images/home-ico.svg", alt="home")
        li.asidemenu--nav--parent__link__item صفحه اصلی
      a.asidemenu--nav--parent__link(href="javascript:void(0)")
        .asidemenu--nav--parent__link__image
          img.asidemenu--nav--parent__link__image__ico(src="dist/Images/wallet-ico.svg", alt="wallet")
        li.asidemenu--nav--parent__link__item کیف پول
      a.asidemenu--nav--parent__link(href="../../../wallet.html")
        .asidemenu--nav--parent__link__image
          img.asidemenu--nav--parent__link__image__ico(src="dist/Images/buy-ico.svg", alt="cart")
        li.asidemenu--nav--parent__link__item فروشگاه
    ul.asidemenu--nav--parent2
      a.asidemenu--nav--parent2__link(href="javascript:void(0)")
        .asidemenu--nav--parent2__link__image
          img.asidemenu--nav--parent2__link__image__ico(src="dist/Images/bookmark-ico.svg", alt="bookmark")
        li.asidemenu--nav--parent2__link__item کمک
      a.asidemenu--nav--parent2__link(href="javascript:void(0)")
        .asidemenu--nav--parent2__link__image
          img.asidemenu--nav--parent2__link__image__ico(src="dist/Images/Setting-ico.svg", alt="bookmark")
        li.asidemenu--nav--parent2__link__item تنظیمات
      a.asidemenu--nav--parent2__link(href="javascript:void(0)")
          .asidemenu--nav--parent2__link__image
               img.asidemenu--nav--parent2__link__image__ico(src="dist/Images/logout-ico.svg", alt="bookmark")
          li.asidemenu--nav--parent2__link__item خروج
