
<aside class="style" id="asidemenu">
  <nav class="asidemenu--nav"> 
    <ul class="asidemenu--nav--parent"><a class="asidemenu--nav--parent__link" href="javascript:void(0)">
        <div class="asidemenu--nav--parent__link__image"><img class="asidemenu--nav--parent__link__image__ico" src="dist/Images/home-ico.svg" alt="home"/></div>
        <li class="asidemenu--nav--parent__link__item">صفحه اصلی</li></a><a class="asidemenu--nav--parent__link" href="../../../wallet.html">
        <div class="asidemenu--nav--parent__link__image"><img class="asidemenu--nav--parent__link__image__ico" src="dist/Images/wallet-ico.svg" alt="wallet"/></div>
        <li class="asidemenu--nav--parent__link__item">کیف پول</li></a><a class="asidemenu--nav--parent__link" href="javascript:void(0)">
        <div class="asidemenu--nav--parent__link__image"><img class="asidemenu--nav--parent__link__image__ico" src="dist/Images/buy-ico.svg" alt="cart"/></div>
        <li class="asidemenu--nav--parent__link__item">فروشگاه</li></a></ul>
    <ul class="asidemenu--nav--parent2"><a class="asidemenu--nav--parent2__link" href="javascript:void(0)">
        <div class="asidemenu--nav--parent2__link__image"><img class="asidemenu--nav--parent2__link__image__ico" src="dist/Images/bookmark-ico.svg" alt="bookmark"/></div>
        <li class="asidemenu--nav--parent2__link__item">کمک</li></a><a class="asidemenu--nav--parent2__link" href="javascript:void(0)">
        <div class="asidemenu--nav--parent2__link__image"><img class="asidemenu--nav--parent2__link__image__ico" src="dist/Images/Setting-ico.svg" alt="bookmark"/></div>
        <li class="asidemenu--nav--parent2__link__item">تنظیمات</li></a><a class="asidemenu--nav--parent2__link" href="javascript:void(0)">
        <div class="asidemenu--nav--parent2__link__image"><img class="asidemenu--nav--parent2__link__image__ico" src="dist/Images/logout-ico.svg" alt="bookmark"/></div>
        <li class="asidemenu--nav--parent2__link__item">خروج</li></a></ul>
  </nav>
</aside>