section.slider
     .container
          .row
               .col-xl-8.col-lg-8.col-md-8.col-12
                    //- .owl-carousel.owl-theme.Intro-slider
                    //-      .owl-item item1
                    //-      .owl-item item2
                    //-      .owl-item item3
                    //-      .owl-item item4

                    .swiper 
                         .swiper-wrapper 
                              .swiper-slide item1
                              .swiper-slide item2
                              .swiper-slide item3
                              .swiper-slide item4
                         .swiper-pagination
                         .swiper-button-prev
                         .swiper-button-next
                         
               .col-xl-4.col-lg-4.col-md-4.col-12
               