
<section class="breadcrumb"> 
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 d-flex"> 
        <nav>
          <ol class="breadcrumb--parent"> <a href=""> 
              <li class="breadcrumb--parent__item">پیشخوان کاربری</li></a><span>/</span><a href=""> 
              <li class="breadcrumb--parent__item active">کیف پول و پرداخت </li></a><span> </span><a href=""> 
              <li class="breadcrumb--parent__item"> </li></a><span> </span></ol>
        </nav>
      </div>
    </div>
  </div>
</section>
<section class="position--page">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h3 class="position--page__title">کیف پول و درخواست تسویه </h3>
        <p class="position--page__discription">در این قسمت پیشنمایش هر بخش مربوط به همان قسمت نمایش داده میشود. </p>
      </div>
    </div>
  </div>
</section>
<section class="wallet--clearing">
  <div class="container-fluid"> 
    <div class="row"> 
      <div class="col-xl-4">
        <div class="wallet--wrapper"> 
          <div class="wallet--wrapper--icon"> <img src="dist/Images/Wallet.png" alt=""/></div>
          <div class="wallet--wrapper--detail">
            <p class="wallet--wrapper--detail__title">موجودی کیف پول من</p>
            <div class="wallet--wrapper--detail__price">
              <p class="wallet--wrapper--detail__price__main">576،000<span>تومان</span></p>
              <p class="wallet--wrapper--detail__price__offer"></p>
            </div><a class="wallet--wrapper--detail__checkout" href="javascript:void(0)">تسویه حساب</a>
          </div>
        </div>
      </div>
      <div class="col-xl-4"></div>
    </div>
  </div>
</section>